 *{box-sizing: border-box;}

.clearfix{
	content: '';
	display: table;
	clear: both;
}
.container{
	margin: auto;
	width: 1170px;
}

	/* section-top */
.section-top{
	margin: auto;
	background-image: url(../img/intro-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.root-header{
	position: relative;
	width: 1170px;
	height: 83px;
	text-align: center;
	border-bottom: 1px solid white;
}
.root-header-link{
    position: absolute;
    top: 15px;
    left: 80px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	padding: 10px;
	color: white;
	background-color: #0771c5;
	box-shadow: 10px 8px 2px 0 #ffffff80;
}
.root-link-left{
	display: inline-block;
	padding: 0 20px 0 0;
}
.root-link{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.root-link-li{
	display: inline-block;
	margin: 0 7px;
	padding: 30px 0;
	border-bottom: 4px solid transparent;
}
.root-link-li:hover{
	display: inline-block;
	margin: 0 7px;
	padding: 30px 0;
	border-bottom: 4px solid #2196F3;
	cursor: pointer;
}
.root-link a{
	color: white;
	text-decoration: none;
}
.root-link-right{
	display: inline-block;
	padding: 0;
}
.root-icon{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.root-icon-li{
	margin: 0 2px;
	padding: 5px 3px;
	display: inline-block;
	color: white;
}
.root-icon-li:hover{
	cursor: pointer;
}

.root-creatives{
    margin: 0;
    padding: 150px 0 0 0;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.root-power{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #2196F3;
    letter-spacing: 6px;
}
.scroll-down{
	margin: 0;
	padding: 100px 0;
	text-align: center;
}
.scroll-down span{
	margin: 0;
	color: white;
    padding: 0;
}
.scroll-down-fa{
    color: white;
}


	/*feature-section*/

.feature-section{
	padding: 100px 0;
	font-family: Roboto , sans-serif;
	text-align: center;
	background-color: #11749e;
}
.awesome-agency{
	position: relative;
	margin: 0px;
	padding: 0;
	font-size: 38px;
	text-transform: uppercase;
	color: white;
	line-height: 150px;
}
.awesome-agency::before{
	position: absolute;
	top: 50%;
	left: 50%;
	content: 'W';
	font-size: 150px;
	font-weight: bold;
	color: rgba(255,255,255,0.6);
	transform: translate(-50%,-50%);
}
.feature-section ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.feature-section-li{
	float: left;
	margin-right: 4%;
	width: 22%;
}
.feature-section-li h4{
	font-size: 18px;
	text-transform: uppercase;
	color: white;
}
.feature-section-li p{
	font-size: 16px;
	color: white;
}
.at-the-end{
	margin-right: 0;
}


	/* akita-inu-dog */

.section-title-text{
	float: left;
	padding: 80px 100px 97px 100px;
	width: 50%;
	font-family: sans-serif;
	background-color: #4e5861;
	color: whitesmoke;
}
.section-title-text h2{
	text-transform: uppercase;
}
.section-title-img{
	float: right;
	width: 50%;
}
.section-title-img img{
	vertical-align: middle;
	max-width: 100%;
}
.section-titles-text{
	float: right;
	padding: 80px 100px 97px 100px;
	width: 50%;
	font-family: sans-serif;
	color: #4e5861;
	background-color: whitesmoke;
}
.section-titles-text h2{
	text-transform: uppercase;
}
.section-titles-img{
	float: left;
	width: 50%;
}
.section-titles-img img{
	vertical-align: middle;
	max-width: 100%;
}


	/* fresh-section */
.fresh-section{
	padding: 50px 0;
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
}
.fresh-section-title{
	position: relative;
	margin: 0;
	font-size: 32px;
	line-height: 150px;
	text-transform: uppercase;
	z-index: 1;
}
.fresh-section-title::after{
	content: 'B';
	position: absolute;
	font-size: 150px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgba(144, 140, 152, 0.6);
	z-index: -1;
}
.fresh-section h4{
	font-size: 20px;
	color: darkgray;
}
.fresh-section ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.fresh-section-item{
	margin-right: 4%;
	width: 22%;
	float: left;
}
.fresh-section-item img{
	max-width: 100%;
}
.at-the-end{
	margin: 0;
}
.fresh-section-item h3{
	font-size: 16px;
	text-transform: uppercase;
	color: #11749e;
}


	/* icon-section */
.icon-section{
	padding: 80px 0;
	background-color: #11749e;
	color: white;
}
.icon-text{
	float: left;
	text-align: justify;
	width: 45%;
	margin-right: 5%;
}
.icon-text p{
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 0 0 0 80px;
}
.icon-text .far{
	position: absolute;
	transform: translate(5%,75%);
}

	/* phone-apple */
.phone-apple{
	padding: 100px 0;
	font-family: sans-serif;
	background-image: url(../img/phone-bg.jpg);
	color: white;
}
.phone-apples{
	position: relative;
}
.phone-apple-img{
	position: absolute;
	top: 100%;
	left: 100%;
	transform: translate(-100%,-100%);
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
}
.phone-apple h2{
	margin: 0;
	text-transform: uppercase;
}
.phone-apple p{
	margin: 0;
	padding: 20px 0;
	width: 50%;
	letter-spacing: 2px;
	line-height: 25px;
}
.phone-apple ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.phone-apple-item{
	margin: 10px 0;
	padding: 10px 10px;
	width: 40%;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #11749e;
}


	/* our-team-section */
.our-team-section{
	padding: 50px 0;
	text-align: center;
	font-family: sans-serif;
}
.our-team-section h2{
	position: relative;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 100px;
	z-index: 1;
}
.our-team-section h2::after{
	content: 'T';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 150px;
	color: darkgray;
	z-index: -1;
}
.our-team-section h4{
	color: rgb(85, 83, 83);
}
.our-team-section ul{
	margin: 0;
	padding: 20px 0;
	list-style-type: none;
}
.our-team-section-item{
	float: left;
	margin-right: 4%;
	width: 22%;
}
.at-the-end{
	margin-right: 0;
}
.our-team-section-item-img{
	position: relative;
	vertical-align: middle;
	text-align: center;
	z-index: 1;
}
.our-team-section-box{
	position: absolute;
	width: 200px;
	transform: translate(16%,-50%);
	background-color: white;
	z-index: 2;
}
.our-team-section-box h3{
	margin: 0;
	padding: 10px 0 5px 0;
	text-transform: uppercase;
	color: #2196F3;
}
.our-team-section-box p{
	margin: 0;
	padding: 5px 0 10px 0;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(10, 10, 10);
}


	/* registration-section */
.registration-section{
	padding: 50px 0;
	background-image: url(../img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-family: sans-serif;
}
.registration-section h2{
	position: relative;
	text-transform: uppercase;
	color: white;
	line-height: 150px;
	z-index: 1;
}
.registration-section h2::after{
	content: 'C';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 150px;
	font-weight: bold;
	color: darkgray;
	z-index: -1;
}
.information{
	 display: inline-block;
	 margin: 5px 0;
}
.text-name{
	padding: 10px 5px;
	width: 300px;
	outline: none;
	color: white;
	background-color: transparent;
}
.message{
	outline: none;
	color: white;
	background-color: transparent;
	padding: 10px 5px;
}
.submit{
	margin: 20px 0;
	padding: 8px 30px;
	background-color: #11749e;
	outline: none;border: none;
}

	/* footer-section */
.footer-section{

}
.footer-iframe{
	width: 100%;
	min-height: 200px;
	background-color: bisque;
}
.footer-section ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.footer-map{
	padding: 20px 0;
	font-family: sans-serif;
}
.footer-section-item{
	float: left;
} 
.footer-section-items{
	float: right;
}